:root {
    /* Font colors */
    --primary-font-color: #0F141A;
    --seconday-font-color: #5b7083;
    --tertiary-font-color: #1da0f2;

    /* Button colors */
    --button-font-color: #fff;
    --button-bg-color: #1da0f2;
    --button-bg-color-hover: #1084cc;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1200px;
}

.content__right__container {
    margin-left: 16px;
    display: flex
}

.content__right {
    width: 350px;
}

.sidebar {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    overflow-x: scroll;
    padding-top: 8px;
    box-sizing: border-box;
}

.logo__container {
    margin-bottom: 32px;
    padding-left: 7px;
}

.logo {
    height: 29px;
    filter: invert(46%) sepia(99%) saturate(1449%) hue-rotate(176deg) brightness(100%) contrast(91%);
}

.sidebar__menu__item {
    font-size: 22px;   
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 12px 7px;
}

.sidebar__menu__item:hover {
    background: rgba(29, 161, 242, 0.1);
    color: var(--tertiary-font-color);
    border-radius: 20px;
    cursor: pointer;
}

.home {
    height: 28px;
    margin-right: 20px;
}

.home__active {
    height: 28px;
    margin-right: 20px;
    filter: invert(67%) sepia(60%) saturate(4956%) hue-rotate(176deg) brightness(95%);
}

.sidebar__menu__item__active {
    font-size: 22px;   
    display: flex;
    align-items: center;
    color: var(--tertiary-font-color);
    font-weight: 700;
    padding: 7px;

}

.sidebar__menu__item__active:hover {
    background: rgba(29, 161, 242, 0.1);
    color: var(--tertiary-font-color);
    border-radius: 20px;
    cursor: pointer;
}

.sidebar__profile {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.profile__container {
    background-color: transparent;
    display: flex;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 9999px;
    cursor: pointer;
}

.profile__container:hover {
    background-color: #e6ecf0;
}

.profile__picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile__details {
    flex-grow: 1;
    margin-left: 8px;
}

.profile__details h4 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.profile__details p {
    margin: 0;
    font-size: .9rem;
    line-height: 1rem;
    color: var(--seconday-font-color)
}

.profile__actions {
    display: flex;
    align-items: center;
}

.profile__actions p {
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
    width: 30px;
    height: 30px;
    text-align: center;
}

.sidebar__newtweet {
    margin: 8px 32px 0 0;
}

.button {
    background-color: var(--button-bg-color);
    border: none;
    color: var(--button-font-color);
    padding: 16px 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 9999px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-bg-color-hover);
}

.content__middle {
    border-right: 1px solid #e6ecf0;
    border-left: 1px solid #e6ecf0;
}

.tweet {
    display: flex;
    border-bottom: 1px solid #e6ecf0;
    margin-bottom: 2px;
    padding: 10px 15px;
}

.tweet a {
    color: var(--tertiary-font-color);
    text-decoration: none;
    
}

.tweet a:hover {
    text-decoration: underline;

}

.tweet:hover {
    background: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.tweet__image {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet__header {
    display: flex;
}

.tweet__authorname {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-font-color);
    margin-right: 5px;
}

.tweet__authorusername {
    color: var(--seconday-font-color);
    font-size: 18px;
}

.tweet__publishtime {
    margin-left: 5px;
    color: var(--seconday-font-color);
}

.tweets__container {
    margin-top: 40px;
    padding-top: 8px;
}

.content__header {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    height: 48px;
    padding: 16px 8px;
    box-sizing: border-box;
    width: calc(575px - 2px);
}

.content__header__container {
    display: flex;
    width: 100%;
}

.content__header__container h2 {
    flex-grow: 1;
    font-size: 1.2rem;
    margin: 0;
}

.header-icon {
    padding-right: 8px;
}

.header-icon svg {
    color: black;
    height: 20px;
    width: 20px;
}

.content__right__main {
    margin: 68px 0 0 16px;
    padding-top: 8px;
    width: 100%;
}

.search__box {
    position: fixed;
    padding: 8px 0 16px 16px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    width: 350px;
}

.search__input {
    display: flex;
    background: #EFF3F4;
    border-radius: 9999px;
    padding: 12px 24px;
}

.search__input__icon {
    margin-right: 16px;
}

.search__input__icon svg {
    height: 20px;
    width: 20px;
    color: black;
}

.search__input__field input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: .95rem;
}

.news__feed {
    background: #EFF3F4;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.news__feed__title {
    margin: 0;
    font-size: 1.2rem;
}

.news__feed__container {
    padding: 0;
    list-style: none;
}

.news__feed__container li {
    margin-bottom: 32px;
}

.news__feed__container li:last-child {
    margin-bottom: 0;
}

.news__content {
    display: flex;
}

.news__text {
    flex-grow: 1;
}

.news__text h5 {
    color: var(--seconday-font-color);
    line-height: 1.2rem;
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
}

.news__text h4 {
    margin: 0;
    font-size: .95rem;
    line-height: 1.5rem;
}

.news__text a {
    color: var(--tertiary-font-color);
    text-decoration: none;
}

.news__text a:hover {
    text-decoration: underline;
}

.news__image {
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.show__more__container {
    margin-top: 24px;
}

.show__more {
    color: var(--tertiary-font-color);
    text-decoration: none;
    font-size: 0.95rem;
}

.show__more:hover {
    text-decoration: underline;
}

.follow__suggestions {
    background: #EFF3F4;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    margin-top: 8px;
    position: sticky;
}

.follow__suggestions__title {
    margin: 0;
    font-size: 1.2rem;
}

.follow__suggestions__container {
    padding: 0;
    list-style: none;
}

.follow__suggestions__container li {
    margin-bottom: 16px;
}

.follow__suggestions__container li:last-child {
    margin-bottom: 0;
}

.follow__suggestion {
    display: flex;
    gap: 8px;
}

.follow__suggestion__image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.follow__suggestion__account {
    flex-grow: 1;
}

.follow__suggestion__account h4 {
    margin: 0;
    font-size: .95rem;
    line-height: 1.5rem;
}

.follow__suggestion__account h5 {
    color: var(--seconday-font-color);
    line-height: 1.1rem;
    font-size: .95rem;
    font-weight: 400;
    margin: 0;
}

.follow__suggestion__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow__button {
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    border: none;
    padding: 8px 16px;
    border-radius: 9999px;
}
